<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Login</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Entrar</button>
  </form>
</div>
