<!-- <mat-toolbar color="primary">
  Backoffice
  
  <span class="spacer"></span>

  <button matIconButton  routerLink="/users" routerLinkActive="active" aria-label="Example icon-button with heart icon">
        <mat-icon>people</mat-icon> Usuários
      </button>

  <span class="spacer"></span>

    <button matIconButton  routerLink="/tickets" routerLinkActive="active" aria-label="Example icon-button with heart icon">
  <mat-icon>assignment</mat-icon> Chamados
</button>
   
      <span class="spacer"></span>

  <button mat-raised-button color="primary" type="button" (click)="logoutUser()">Sair</button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div> -->

<mat-toolbar color="primary">
  Backoffice
  <span class="spacer"></span>

  <button mat-raised-button color="warn" type="button" (click)="logoutUser()">Sair</button>
</mat-toolbar>

<mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Usuários"></mat-tab>
  <mat-tab label="Chamados"></mat-tab>
</mat-tab-group>

<div class="container">
  <router-outlet></router-outlet>
</div>


